* {
  margin: 0;
  padding: 0;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
}

hr{
    margin-top: 20px;
}


.container {
  border: 2px solid black;
  display: grid;
  height: 700px;
  width: 1500px;
  margin: 80px auto;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  border-radius: 20px;
  overflow: hidden;
}

.accordeon{
}

.questions-accordeon{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.line{
    border: 1px solid grey;
    margin: 20px 0px;
}

.answer-accordeon{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

